* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

table {
  border-spacing: 0.5rem;
}
#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}
table tr td {
  width: 100px;
  height: 100px;
  background: #7f7f7f;
  border-radius: 10px;
}
.active {
  transform: scale(1.1);
}
