* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: #777;
}

.left .inputBox {
  width: 400px;
  height: 250px;
  margin: 2rem 0;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left .inputBox input {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
}
.left .inputBox input:focus {
  outline: none;
}
.left .inputBox button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.left .monthBox {
  border: 2px solid #000;
  padding: 1rem;
  border-radius: 5px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right .box {
  width: 700px;
  height: 450px;
  padding: 0 2rem;
  margin: 1rem 0;
  overflow-y: scroll;
}
.right .box::-webkit-scrollbar {
  width: 10px;
  padding: 1rem;
}
.right .box::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}
.right .box ul li {
  list-style: none;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
}
.right .box ul li:first-child {
  margin-top: 0;
}
.right .box ul li span:first-child {
  padding: 1rem;
  background-color: #000;
  border-radius: 10px;
}
.right .box ul li div {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.right .box ul li .daytime {
  background-color: #000;
}
.right .box ul li .nighttime {
  background-color: #fff;
  color: #000;
}
